a,
button {
  box-shadow: none !important;
}

.blink_timer {
  animation: blink 1s alternate infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.6;
    /* transform: scale(2) */
  }
  90%{
    opacity: 0.2;
  }
}


#attribution_block{
  display:none;
}
